
<!DOCTYPE html>
<html lang="fa">
<head>

    <partial name="_MetaTags" />
    <title>محمد درخشان | @ViewData["Title"]</title>
    <partial name="_HeaderRefrences" />

</head>
<body>
    <partial name="_Loader" />

    <main class="main">
        <partial name="_TopHeader" />
        <div class="container gutter-top">
            <!-- Header -->
            @await Component.InvokeAsync("Header")
            <div class="row sticky-parent">
                <partial name="_SideBar" />
                <!-- Content -->
                <div class="col-12 col-md-12 col-lg-10">

                    @RenderBody()

                    <partial name="_Footer" />

                </div>
            </div>
        </div>
    </main>


    <partial name="_SideTools" />

    <partial name="_FooterRefrences" />

</body>
</html>